<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amenity Verifier by Roux</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/regular.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.min.css' %}"/>
    <script src="{% static 'alpinejs/js/alpinejs.min.js' %}" defer></script>
    {% block css %}{% endblock %}
</head>
<body>
<section class="section pt-5 mb-6">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
<nav class="navbar has-shadow is-fixed-bottom">
    <div class="navbar-brand">
        <div class="navbar-item is-size-7">
            &copy; 2023&ensp;Roux
        </div>
    </div>
</nav>
{% block js %}{% endblock %}
</body>
</html>
